{% extends 'base.html'%}
<!-- Styles block -->

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}


 {%block content%}
  <!-- Popular movie section  -->
  <h3> Popular Movies</h3>
    <ul>
    {% for popular_movie in popular %}
    <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2 movie-card">
      <img src="{{ popular_movie.poster }}" alt="{{ popular_movie.title }} poster" class="img-responsive">
      <li class="text-center">
        <a href="/movie/{{popular_movie.id}}"><p>{{popular_movie.title}}</a>   
      </li>
    </div>
    {% endfor %}
    </ul>
  {%endblock %}
