{% extends 'base.html'%}
<!-- Styles block -->

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}


 {%block content%}
  <!-- Subscription section  -->
  <div class="container">
    <div class="row" style="text-align: center;">
      <h4>Welcome to Night'sWatch; your favorite movie reccomendations site. Sign up for daily recommendations below</h4>
      <form>
        <input type="text" name="email_submit" placeholder="Enter your email address..." class="form-control">
        <input type="submit"  value="Submit" class="btn btn-default">
    </form>
    </div>
  </div>

  <!-- Popular movie section  -->
  <div class="container-fluid">
    <div class="row">
      <h3>Today's popular movies:</h3>
      <ul>
      {% for popular_movie in popular %}
      <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2 movie-card">
        <img src="{{ popular_movie.poster }}" alt="{{ popular_movie.title }} poster" class="img-responsive">
        <li class="text-center">
          <a href="/movie/{{popular_movie.id}}"><p>{{popular_movie.title}}</a>   
        </li>
      </div>
      {% endfor %}
      </ul>
    </div>
  </div>
  {%endblock %}
