{% extends 'base.html'%}
<!-- Content block -->
{% block content %}
<div class="container">

    <!-- Poster background -->
    <div class="row" id = "movie">
      <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2 movie-card">
        <img src="{{ movie.poster }}" alt="{{ movie.title }} poster" class="img-responsive">
    </div>
    <!--movie details-->
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 movie-details">
      <h3>{{ movie.title }}</h3>
      <p class="overview"> {{ movie.overview }}</p>
      <p class="ratings"> <b> {{ movie.vote_average }}</b> - <i>{{ movie.vote_count}} votes </i> </p>
      <!--movie trailer-->
      <div class="col-sm-12">
      {% if trailer %}
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#trailermodal">
          Show trailer
        </button>
        {% for trailers in trailer %}
          <!-- Modal -->
          <div class="modal fade" id="trailermodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalCenterTitle">Trailer for {{movie.title}}</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="col-sm-12" id="trailer">
                        <iframe width="560" height="315"
                            src="https://www.youtube.com/embed/{{trailers.key}}"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                        </iframe>
                    </div>
                </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}